.pro{
    position:relative;
}
.hear-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    border: 2px solid rgb(222, 196, 196);
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: rgb(52, 37, 10);
    color: white;
    padding: 3px;
}
.hear-icon:hover{
    transform:  scale(1.4);

}
.hear-icon.active {
  color: red;

}
.plus{
    color: green;
}